<h1>You are uploading a custom strain</h1>
<form action="/custom" method="POST">
<label>Enter a Name for your custom strain</label>
<input type="text" name="name" placeholder="custom name"></br>
<label>Enter a Description for your custom strain</label>
<input type="text" name="description" placeholder="description"></br>
<input type="submit" value="Upload Custom Strain">
</form>
<form method="get" action="/logout">
    <input type="submit" value="Logout">
</form>