<h1>To request a prescription, enter a desired effect below</h1>
<h1>Relaxed, Happy, Uplifted, Euphoric, Creative</h1>

<form action="/prescriptions" method="POST">
<label>Desired Effect</label>
<input type="text" name="effect" placeholder="Enter an effect here"></br>

<input type="submit" value="Request Prescription">
</form> 