<h1>Signup by enntering a username and password below</h1>

<form method="POST" action="/signup">
<label>Username</label>
<input type="text" name="username" placeholder="username"/>

<label>Password</label>
<input type="password" name="password" placeholder="password"/>
<button type="submit">Log In</button>
</form>