<%# user homepage should be able to view, add and add delete all prescriptions %>
<h1>Welcome to your CannaPharm Patient Portal, <%= @patient.username %></h1>
<form method="get" action="/logout">
    <input type="submit" value="Logout">
</form>

<h4><form method="get" action="/prescriptions">
    <input type="submit" value="View my prescriptions">
    </form></h4>

<h4><form method="get" action="/prescriptions/new">
    <input type="submit" value="Request a new Prescription">
    </form></h4>

<h4><form method="get" action="/prescriptions/custom">
    <input type="submit" value="Upload your own strain here">
    </form></h4>
    <br>
<h5>Your Prescriptions:</h5>

<% @patient.prescriptions.each do |prescription| %>
    <ol>
        <li>Name: <a href="prescriptions/<%= prescription.id%>"><%= prescription.name %></a><br/>
    </ol>
    <br/>
    
<% end %>

