<h1>Welcome</h1>

<p>We are currently working on your account.</p>
<p><a href="/requestprescription">Request Prescription</a></p>
<p><a href="/account/<%=@patient.id%>">Patient Page</a></p>
<p><a href="/logout">Log Out</a></p>