<h1>Choose a desired effect to receive a prescription:</h1>

<form action='/prescreq' method="POST">
<input type="text" name="effect" placeholder="relaxed, happy, euphoric, creative, uplifted">
<input type="submit" value="Get prescription">


<p><a href="/logout">Log Out</a></p>
</form>